{% extends 'layouts/base.njk' %}
{% block styles %}
    <!-- <style>
        body {
            background: #242424
        }
    </style> -->
{% endblock %}
{% block content %}
    <p>Welcome to {{ title }}</p>
{% endblock %}