{% extends 'layout.njk' %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <hr />
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}