{% extends 'layouts/base.njk'  %}

{% block content %}
    <a class="btn btn-primary pull-right" href="/interface/add" role="button" data-pjax>Add Interface</a>
    <table class="table table-hover" id="interface-table">
        <thead>
            <tr>
                <th>id</th>
                <th>project name</th>
                <th>method</th>
                <th>path</th>
                <th>description</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            {% for interface in interfaces %}
                <tr>
                    <td>{{ interface.id }}</td>
                    <td>{{ interface.projectId.name }}</td>
                    <td>{{ interface.method }}</td>
                    <td>{{ interface.path }}</td>
                    <td>{{ interface.desc }}</td>
                    <td>
                        <a class="btn btn-primary" href="/interface/edit/{{ interface.id }}" role="button" data-pjax>Edit</a>
                        <a class="btn btn-primary interface-delete" href="javascript:;" role="button"
                            data-id="{{ interface.id }}" data-name="{{ interface.path }}">Delete</a>
                        <a class="btn btn-primary api_href" method="{{ interface.method }}" href="javascript:;" data-href="/api/{{ interface.projectId.name }}/{{ interface.path }}" role="button">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex flex-center-h">
        <div class="pagination" style="line-height:34px;flex:1;">共有 {{ count }} 条数据，每页显示 {{ limit }} 条；共 {{ pages }} 页；当前第 {{ page }} 页</div>
        <ul class="pagination">
            <li><a href="/interface?page={% if page - 1 < 1 %}1{% else %}{{ page - 1 }}{% endif %}" data-pjax>&laquo;</a></li>
            {% for i in range(1, pages+1) %}
                <li><a href="/interface?page={{ i }}" {% if i == page %} style="background-color:#eee;" {% endif %} data-pjax>{{ i }}</a></li>
            {% endfor %}
            <li><a href="/interface?page={% if page + 1 > pages %}{{ pages }}{% else %}{{ page + 1 }}{% endif %}" data-pjax>&raquo;</a></li>
        </ul>
    </div>
    
    <a class="btn btn-primary hide" data-toggle="modal" href='#modal-interface-delete'>Trigger modal</a>
    <div class="modal fade" id="modal-interface-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Confirm delete <span id="modal-interface-name"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                    <button type="button" class="btn btn-danger" id="modal-interface-submit" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="" id="apiForm">
    </form>

    <!-- <script src="/js/interface.js"></script> -->
    <script>
        $(document).ready(function () {
            $('#interface-table').delegate('a.interface-delete', 'click', function () {
                var $modal = $('#modal-interface-delete');
                var id = $(this).data('id');

                $modal.find('#modal-interface-name').text($(this).data('name'));
                $modal.prev().trigger('click');

                $modal.find('#modal-interface-submit').on('click', function () {
                    $.ajax({
                        method: 'POST',
                        type: 'json',
                        url: '/interface/delete/' + id,
                        success: function (data) {
                            if (data.code == 0) {
                                toastr.success(data.msg);
                            } else {
                                toastr.error(data.msg);
                            }
                        }
                    });
                });
            });

            $('.api_href').click(function() {
                $('#apiForm').attr('action', $(this).data('href'));
                $('#apiForm').attr('method', $(this).attr('method'));
                $('#apiForm').ajaxForm({
                    dataType: 'json',
                    success: function(data, statusText, xhr, form) {
                        alert(JSON.stringify(data, null, 4));
                    }
                }).submit();
            });
        });
    </script>
{% endblock %}