{% extends 'layouts/base.njk' %}

{% block content %}
    <table class="table">
        <caption>User List</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
                <th>createdAt</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex flex-center-h">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    
{% endblock %}