{% extends 'layouts/base.njk' %}

{% block content %}
    <table class="table">
        <caption>Users</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
                <th>createdAt</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flex flex-center-h">
        <div class="pagination" style="line-height:34px;flex:1;">共有 {{ count }} 条数据，每页显示 {{ limit }} 条；共 {{ pages }} 页；当前第 {{ page }} 页</div>
        <ul class="pagination">
            <li><a href="/user?page={% if page - 1 < 1 %}1{% else %}{{ page - 1 }}{% endif %}" data-pjax>&laquo;</a></li>
            {% for i in range(1, pages+1) %}
                <li><a href="/user?page={{ i }}" {% if i == page %} style="background-color:#eee;" {% endif %} data-pjax>{{ i }}</a></li>
            {% endfor %}
            <li><a href="/user?page={% if page + 1 > pages %}{{ pages }}{% else %}{{ page + 1 }}{% endif %}" data-pjax>&raquo;</a></li>
        </ul>
    </div>
    
{% endblock %}