<ol class="breadcrumb">
    {% set excludeBC = [
        'edit',
        'search',
        'projectId'
    ] %}
    {% for bc in breadcrumb %}
        {% if (excludeBC.indexOf(bc.name) > -1 or loop.last) %}
            <li class="active">{{ bc.name }}</li>
        {% else %}
            <li><a href="{{ bc.url }}" data-pjax>{{ bc.name }}</a></li>
        {% endif %}
    {% endfor %}
</ol>