<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-pjax/jquery.pjax.js"></script>
<script src="/jquery-form/dist/jquery.form.min.js"></script>
<script src="/toastr/toastr.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/sidebar.js"></script>
<!-- <script src="/js/project.js"></script> -->