<div class="sidebar-container" id="sidebar">
    <div class="panel">
        <a class="collapsed collapse-header" data-toggle="collapse" data-target="#project"
            href="javascript:;" aria-expanded="false" data-parent="#sidebar">
            <h4>Project</h4>
        </a>
        <div class="collapse" id="project">
            <div class="list-group">
                <a href="/project" class="list-group-item collapse-item" data-pjax>project manager</a>
            </div>
        </div>
    </div>
    
    <div class="panel">
        <a class="collapsed collapse-header" data-toggle="collapse" data-target="#interface"
            href="javascript:;" aria-expanded="false" data-parent="#sidebar">
            <h4>Interface</h4>
        </a>
        <div class="collapse" id="interface">
            <div class="list-group">
                <a href="/interface" class="list-group-item collapse-item" data-pjax>interface manager</a>
            </div>
        </div>
    </div>

    <div class="panel">
        <a class="collapsed collapse-header" data-toggle="collapse" data-target="#user"
            href="javascript:;" aria-expanded="false" data-parent="#sidebar">
            <h4>User</h4>
        </a>
        <div class="collapse" id="user">
            <div class="list-group">
                <a href="/user" class="list-group-item collapse-item"  data-pjax>user manager</a>
            </div>
        </div>
    </div>

    <div class="panel">
        <a class="collapsed collapse-header" data-toggle="collapse" data-target="#setting"
            href="javascript:;" aria-expanded="false" data-parent="#sidebar">
            <h4>Setting</h4>
        </a>
        <div class="collapse" id="setting">
            <div class="list-group">
                <a href="#" class="list-group-item collapse-item">config</a>
            </div>
        </div>
    </div>
</div>
