{% extends 'layouts/base.njk'  %}

{% block content %}
    <a class="btn btn-primary pull-right" href="/project/add" role="button" data-pjax>Add project</a>
    <table class="table table-hover" id="project-table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>
                        <a class="btn btn-primary" href="/project/edit/{{ project.id }}" role="button" data-pjax>Edit</a>
                        <a class="btn btn-primary project-delete" href="javascript:;" role="button"
                            data-id="{{ project.id }}" data-name="{{ project.name }}">Delete</a>
                        <a class="btn btn-primary" href="/interface/search/projectId/{{ project.id }}" role="button">Show Interface</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex flex-center-h">
        <div class="pagination" style="line-height:34px;flex:1;">共有 {{ count }} 条数据，每页显示 {{ limit }} 条；共 {{ pages }} 页；当前第 {{ page }} 页</div>
        <ul class="pagination">
            <li><a href="/project?page={% if page - 1 < 1 %}1{% else %}{{ page - 1 }}{% endif %}" data-pjax>&laquo;</a></li>
            {% for i in range(1, pages+1) %}
                <li><a href="/project?page={{ i }}" {% if i == page %} style="background-color:#eee;" {% endif %} data-pjax>{{ i }}</a></li>
            {% endfor %}
            <li><a href="/project?page={% if page + 1 > pages %}{{ pages }}{% else %}{{ page + 1 }}{% endif %}" data-pjax>&raquo;</a></li>
        </ul>
    </div>
    
    <a class="btn btn-primary hide" data-toggle="modal" href='#modal-project-delete'>Trigger modal</a>
    <div class="modal fade" id="modal-project-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Confirm delete <span id="modal-project-name"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                    <button type="button" class="btn btn-danger" id="modal-project-submit" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/js/project.js"></script> -->
    <script>
        $(document).ready(function () {
            $('#project-table').delegate('a.project-delete', 'click', function () {
                var $modal = $('#modal-project-delete');
                var id = $(this).data('id');

                $modal.find('#modal-project-name').text($(this).data('name'));
                $modal.prev().trigger('click');

                $modal.find('#modal-project-submit').on('click', function () {
                    $.ajax({
                        method: 'DELETE',
                        type: 'json',
                        url: '/project/' + id,
                        success: function (data) {
                            if (data.code == 0) {
                                toastr.success(data.msg);
                            } else {
                                toastr.error(data.msg);
                            }
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}