.flex {
    display: flex;
}

.flex-center-h {
    justify-content: center;
}

.flex-center-v {
    align-items: center;
}

/**
 * Loading
 */
 .boxLoading {  
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .boxLoading {
        left: 25%;
    }
}

.boxLoading:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

.boxLoading:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #286090;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
  
@keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
}
  
  
@keyframes shadow {
    0%, 100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
}

.select-group .btn {
    position: relative;
    color: #333333 !important;
    padding-left: 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select-group.radio-group .btn:before {
    border-radius: 50%;
}

.select-group .active:before {
    border-color: #286090;
    background-color: #286090;
}

.select-group .btn:before {
    content: '';
    position: absolute;
    left: 12px;
    top: 7px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #d0d5d9;
    vertical-align: middle;
    border-radius: 2px;
}

.select-group .active:after {
    display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* content: ""; */
    content: "";
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 15px;
    line-height: 1;
    color: #fff;
}

.select-group .btn.active.focus {
    outline: inherit !important;
    outline-offset: inherit !important;
}